{% extends "base.html" %}
{% block task2 %}
    <div>
        1. Импортируем библиотеку для работы с Excel. <br>
        <pre><b>
        import pandas as pd
        </b></pre>
    </div>
    <div>
        2. Переводим таблицу в DataFrame. <br>
        <pre><b>
        df = pd.read_excel('выборка.xlsx', index_col=None)</b></pre>
    </div>
    <div> 
        3. Создаем общий список всех участников, разделяем ФИО для разделения на гендерную принадлежность и возможное родство. <br>
        <b><pre>
        persons1 = sorted(list(df["Участник 1"].values))
        persons2 = sorted(list(df["Участник 2"].values))
        all_persons = persons1 + persons2

        all_persons = [i.split() for i in all_persons]</pre></b>
    </div>
    <div>
        4. Разделяем участников по гендерному признаку и находим количество ДТП с каждым из них. Сортируем по алфавиту. <br>
        <b>
        <pre>
        male = []
        female = []
        for i in all_persons:
            if i[2][-1] != 'а' and [i, all_persons.count(i)] not in male:
                male.append([i, all_persons.count(i)])
            else:
                if i[2][-1] == 'а' and[i, all_persons.count(i)] not in female:
                    female.append([i, all_persons.count(i)])
        male = sorted(male)
        female = sorted(female)</pre></b>
    </div>
    <div>
        5. Выявляем возможное родство и общее кол-во ДТП. <br>
        <pre><b>
        possibly_relatives = []
        for i in male:
            for j in female:
                if i[0][0] + 'а' in j[0][0]:
                    possibly_relatives.append(
                        [' '.join(i[0]), ' '.join(j[0]), i[1]+j[1]])
                    </b></pre>
    </div>
    <div>
        6. Фильтруем списки мужчин и женщин от тех, кто состоит в возможных родсвтвенных связях. <br>
        <pre><b>
        filtered_female = []
        for i in range(1, len(female)):
            if ' '.join(female[i-1][0]) not in [j[1] for j in possibly_relatives]:
                filtered_female.append(female[i-1])

        filtered_male = []
        for i in range(1, len(male)):
            if ' '.join(male[i-1][0]) not in [j[0] for j in possibly_relatives]:
                filtered_male.append(male[i-1])</b></pre>
    </div>
    <div>
        7. Выявляем из каждого списка возможных мошенников по количеству ДТП. Для более точного определения нужно анализировать стоимость ТС, даты ДТП и страховые выплаты. 
        Ответ представлен в виде: ФИО подозреваемых в мошенничестве и количество ДТП<br>
        <pre><b>
        possibly_relatives = [i for i in possibly_relatives if i[2] >= 3]      
        </pre>
        Список возможных родственников, у которых суммарное количество ДТП больше 3
        {% for i in possibly_relatives.keys() %}
        <li>
            {{ i }}:  {{ possibly_relatives[i] }}
        </li> 
        {% endfor %}
        
        <pre>
        filtered_female = [
            [' '.join(i[0]), i[1]] for i in filtered_female if i[1] >= 2]      
        </pre>
        Список женщин, у которых суммарное количество ДТП больше 2
        {% for i in filtered_female.keys() %}
        <li>
            {{ i }}:  {{ filtered_female[i] }}
        </li> 
        {% endfor %}
        <pre>
        filtered_male = [
            [' '.join(i[0]), i[1]] for i in filtered_male if i[1] >= 2]        
        </pre>
        Список мужчин, у которых суммарное количество ДТП больше 2
        {% for i in filtered_male.keys() %}
        <li>
            {{ i }}:  {{ filtered_male[i] }}
        </li> 
        {% endfor %}
        </b>
    </div>
    <p><a href="/">START PAGE</a></p> 
{% endblock task2 %}